.container-forecast {
  max-width: 1200px;
  margin-left: 150px;
}

.card-body-forecast {
  width: 160px;
  height: 200px;
  border-radius: 10%;
  margin: 80px 0 0 20px ;
  background: transparent !important;
  box-shadow: -6px -6px 20px rgba(255, 255, 255,1),
              -6px -6px 20px rgba(0, 0, 0, 0.1);
  padding: 5px;

}

.weather-data-day {
  font-size: 18px;
  font-weight: 500;
  color: #dea310;
  margin-bottom: 40px;
}

.weather-data-forecast-temp {
  font-weight: 700;
  font-size: 16px;
  color: #5467b8;
}

