.container {
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.card-body-weather{
  width: 450px;
  border-radius: 10%;
  margin: 80px 0 0 280px ;
  background: transparent !important;
  box-shadow: -6px -6px 20px rgba(255, 255, 255,1),
              -6px -6px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.weather-data {
  display: flex;
  flex-direction: column;
}

.weather-data-city, .weather-data-temp {
  font-weight: 500;
  font-size: 16px;
  color: #dea310;
}

.weather-data-city span, .weather-data-temp span {
  font-weight: 700;
  font-size: 16px;
  color: #5467b8;
}