@media (max-width: 1051px) {
  .weather-search {
    width: 600px !important;
    margin: 60px 0px 0px 100px !important;
  }
}

@media (max-width: 720px) {
  .weather-search {
    width: 400px !important;
    margin: 60px 0px 0px 50px !important;
  }

}

@media (max-width: 520px) {
  .weather-search {
    width: 340px !important;
    margin: 150px 0px 0px 10px !important;
  }

}

@media (max-width: 400px) {
  .weather-search {
    width: 300px !important;
    margin: 150px 0px 0px 20px !important;
  }

}